    <img src="../public/assets/img/burger.png" />
    <h1>Eat-Da-Burger!</h1>
    <form>
      <div><textarea rows="4" cols="40">Add your burger here</textarea></div>
      <button type="submit">Submit</button>
    </form>